
jupyterlab==3.2.5
matplotlib==3.5.1
pandas==1.3.5
numpy==1.22.0
seaborn==0.11.2
statsmodels==0.13.1
scikit-learn==1.0.2
altair==4.1.0
tensorflow-macos==2.8.0
tensorflow-metal==0.4.0
Keras==2.8.0
tensorflow-hub==0.12.0
planetary-computer==0.4.9
tqdm==4.64.1
odc-stac==0.3.5
opencv-python==4.7.0.68
geopandas==0.12.2
geopy==2.3.0
rioxarray==0.13.3
loguru==0.6.0
shapely==2.0.0
pystac_client==0.5.1
#lightgbm==3.3.4
xarray-spatial== 0.3.5
xarray==2023.1.0
datashader==0.14.3
rasterio==1.3.4
#folium ==0.14.0

